{{! Change delimiter style to avoid confusion with SILE syntax }}
{{=<< >>=}}

\begin[class=plain,papersize=<<papersize>>]{document}

\begin{script}
dofile("<<kepathianlua>>")
\end{script}

<<content>>

\end{document}
